<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cross at Home app ® </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark  bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand " href="/wods"> <img class="w-25 " src="/images/appLogoNavbar.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  " id="navbarNavResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active"><a class="nav-link text-info" href="#">Principal</a></li>
                    <li class="nav-item"><a class="nav-link text-info" href="#">Perfil</a></li>
                    <li class="nav-item"><a class="nav-link text-info" href="#">¡Entrena!</a></li>
                    <li class="nav-item"><a class="nav-link text-info" href="#">Comunidad</a></li>
                    <li class="nav-item nav-logOutLi"><a class="nav-link text-info" href="/">logOut</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--- handle bar -->

    {{{ body }}}

    <!--- Footer -->


    <footer class="bg-dark text-info mt-3">
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-6">
                    <img class="w-25 " src="/images/appLogoNavbar.png">
                    <h5>Cross at Home App</h5>
                    <hr class="light">
                    <p>2020 SPECTR3R-B</p>
                    <p>+52 1 55 3735 5309</p>
                    <p>spectr3r.software@hotmail.com</p>
                    <p>Developed with Love at Ironhack® </p>
                </div>
                <div class="col-md-6">
                    <hr class="light">
                    <h5>Our Team:</h5>
                    <hr class="light">
                    <p>Armando del Río</p>
                    <p><a href="https://github.com/SPECTR3R">Git Hub</a></p>
                    <p><a href="https://www.linkedin.com/in/adrio1992/">LinkedIn</a></p>
                    <p>Donovan Torres</p>
                    <p><a href="">Git Hub</a></p>
                    <p><a href="">LinkedIn</a></p>
                    <p>Eduardo Zamarrón</p>
                    <p><a href="">Git Hub</a></p>
                    <p><a href="">LinkedIn</a></p>
                </div>
            </div>
    </footer>

    <script src="/javascripts/script.js"></script>
</body>

</html>