<h1>LOGIN</h1>

{{#if error}}
<h2 style="color: red;">{{error}}</h2>
{{/if}}


<form action="/login" method="POST">
  <input type="email" name="email" placeholder="Correo Electrónico">
  <input type="password" name="Contraseña">
  <input type="submit" value="Log In">
</form>