<h1>SIGN UP</h1>

{{#if error}}
<h2 style="color: red;">{{error}}</h2>
{{/if}}


<form action="/signup" method="POST">
  <input type="text" name="name" placeholder="Nombre">
  <input type="email" name="email" placeholder="Correo Electrónico">
  <input type="password" name="password" placeholder="Contraseña">
  <input type="password" name="verify" placeholder="Verificar Contraseña">
  <input type="submit" value="Sign Up">
</form>

<button><a href="/auth/facebook">Log in with Facebook</a></button>
<button><a href="/auth/google">Login With Google</a></button>


{{!-- (node:1000) UnhandledPromiseRejectionWarning: TypeError: Assignment to constant variable. --}}