<div>
    <strong>Hola
        {{name}}</strong>
    <br>

    <img src="https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8yMjkxNTQ0MC9vcmlnaW4uanBnIiwiZXhwaXJlc19hdCI6MTYxMzEzMzQyMn0.Gz-oOBipcmLH2HQlygSwRjL74fk5lHIlrYneAZZV1us/img.jpg?width=2000&height=2000"
        alt="" style="width:400px;height:auto;">
    <br>
    <p>Es hora de iniciar tu entrenamiento en casa, en la siguiente forma
        <br>
        puedes escoger tu nivel de condicion fiśica
        y nuestro sistema insteligente
        <br>
        escogera una rutina adecuada para tu nivel!</p>

    <p>Atleta, Selecciona tu nivel aquí:</p>
    <form action="/createWod" method="POST">
        <div>
            <input type="radio" id="Principiante" name="level" value="Principiante" checked>
            <label for="huey">Principiante</label>
        </div>
        <div>
            <input type="radio" id="Escalado" name="level" value="Escalado">
            <label for="dewey">Escalado</label>
        </div>
        <div>
            <input type="radio" id="RX" name="level" value="RX">
            <label for="louie">RX</label>
        </div>

        </datalist>
        <input type="submit" value="Rock on!">
    </form>

    </form>
    
    <h4><a href="/profile"><button>Volver a mi Perfil</button></a></h4>
<br><h4><a href="/wods"><button>Ver todos los WOD's</button></a></h4><br>