<h2>Crear Post</h2>

<form action="/wod/create" method="POST">
  <input name="wodName" type="text" placeholder="Wod Name"><br>
  <input name="wodFocus" type="text" placeholder="WodFocus"><br>
  <input name="duration" type="text" placeholder="Duracion"><br>
  <input name="desc" type="text" placeholder="Descripcion"><br>
  <input name="level" type="select"><br>
  <input name="record" type="text"><br>
  <input type="submit" value="Crear Post">
</form>

<h4><a href="/profile">Volver a mi Perfil</a></h4>