<h2>Editar Comentario</h2>
<form action='/editComment/{{_id}}' method="POST">
<textarea name="body" id="body" rows="3">{{body}}</textarea>
  <input type="submit" value="Edit Comment">
</form>

<h4><a href="/profile">Volver a mi Perfil</a></h4>
<br><h4><a href="/wods">Ver todos los WOD's</a></h4><br>

  