<div class="container padding">
  <h2 class="mt-2" >Editar Comentario</h2>
  <div class="row text-center padding align-items-center">
    <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <form action='/editComment/{{_id}}' method="POST">
        <textarea name="body" id="body" rows="3">{{body}}</textarea>
        <br>
        <br>
        <input class="btn btn-info" type="submit" value="Edit Comment">
      </form>
    </div>
  </div>
</div>

