<h1>Profiles List</h1>

{{#each profiles}}
<div>
<img src="{{imagePath}}" alt="{{imageName}}" style="width: 75px; height: 75px">
<h3>{{name}}</h3>
<a href="/profile/{{_id}}"><button>Ver Perfil</button></a>
</div>
<hr>
{{/each}}


<h4><a href="/profile"><button>Volver a mi Perfil</button></a></h4>
<br><h4><a href="/wods"><button>Ver todos los WOD's</button></a></h4><br>