<h1>Hola Bienvenido {{name}}</h1>
<div>
  <img src="{{imagePath}}" alt="{{imageName}}" style="width: 110px; height: 110px">
</div>

<h4><a href="/profile/edit">Editar Perfil</a></h4><br>
<h4><a href="/wods">Ver todos los WOD's</a></h4><br>
<h4><a href="/profile/all">Ver todos los Perfiles</a></h4><br>
<h4><a href="/createWod">Genera un nuevo WOD!</a></h4><br>
<h4><a href="/yourWods">Ver tus WOD's</a></h4><br>

<a href="/logout">
  <button>
    Logout
  </button>
</a>

<a href="/profile/delete/{{_id}}">
  <button>
    Borrar Cuenta
  </button>
</a>
