@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

@font-face {
  font-family: 'Chalktastic';
  src: url('/fonts/Chalktastic.woff') format('woff'),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('/fonts/Chalktastic.ttf')
      format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: poppins, sans-serif;
  color: #222;
}

a {
  color: #17a2b0;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #17a2b0;
}

.carousel-caption h3 {
  color: white;
  text-shadow: 1px 1px 10px black;
}

.chalkBoard {
  margin: 0px;
  padding: 0;
}

.chalkBoard textarea {
  background-color: #17a2b0;
  font-weight: 700;
  padding: 15px;
  border-top: 5px solid burlywood;
  width: 85%;
  height: auto;
  color: white;
  font-family: Chalktastic;
}

.crossLogo{
  height: 300px;
  width: 300px;

}


/*---Media Queries --*/
@media (max-width: 992px) {
  .carousel-caption h1 {
    font-size: 450%;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #17a2b0;
  }

  .carousel-caption h3 {
    font-size: 100%;
    color: white;
    text-shadow: 1px 1px 10px black;
  }
}

@media (max-width: 768px) {
  .carousel-caption h1 {
    font-size: 300%;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #17a2b0;
  }

  .carousel-caption h3 {
    font-size: 100%;
    color: white;
    text-shadow: 1px 1px 10px black;

  }
  .chalkBoard  {
    height: 8em;
  }

}

@media (max-width: 576px) {
  .carousel-caption h1 {
    font-size: 200%;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #17a2b0;
  }

  .carousel-caption h3 {
    color: white;
    text-shadow: 1px 1px 10px black;
    font-size: 75%;
  }

  .chalkBoard  {
    height: 13em;
  }

}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*='col-'] {
  padding: 1rem;
}
